/*TO DO

1.rewrite the nav bar alignment, using flex

*/
/*General styles*/
*{
margin:0;
padding:0;
font-family:Helvetica;
font-size:16px;
box-sizing:border-box;
transition-duration:0.4s;
letter-spacing:.1px;
font-weight:400;
position:relative;
}
:root{
--primary:#25b3db;
--secondary:orange;
--tertiary:#404648;
--shadow:0 3px 6px rgba(0,0,0,0.16);
}
html, body{
background:#f2f2f2;
height:100%;
}
a{
text-decoration:none;
color:var(--primary);
}
/*Header*/
header{
background:#25b3db;
box-shadow:var(--shadow);
position:sticky;
top:0px;
z-index:10;
}
.name>a{
color:var(--primary);
font-size:40px;
background:#2f2f2f;
margin:0px;
padding:10px;
margin-left:-10px
}
.desc{
font-style:italic;
padding-top:0px !important;
}
.site>div{
padding:10px;
}
header>*{
display:inline-table;
}
nav{
float:right;
font-size:0;
height:100%;
}
nav>a{
height:70.5px;
display:inline-flex;
align-items:center;
color:white;
padding:10px;
}
nav>a:hover{
background:var(--tertiary);
color:var(--primary);
}
/*Forms*/
.form_container{
/*! display:flex; */
padding:40px;
height:200px;
}
.form_container>*{
display:flex;
justify-content:center;
align-items:center;
height:100%;
border: 1px solid #eee;
}
form{
background:white;
}
.form_info{
background:white;
height:100%;
width:100%;
display:inline-flex;
height:100%;
border:1px solid #eee;
padding-left: 20px;
border-left: 0px;
}
.form-error{
color:white;
font-weight:bold;
padding:10px;
display: table;
width: 100%;
color: orange;
}
.form-error:hover{
margin-right:0px;
}
[type='text'], [type='password'], [type='email']{
border:none;
padding:10px;
border-bottom:2px solid var(--primary);
color:#2f2f2f;
}
[type='text']:hover, [type='password']:hover, [type='email']:hover{
background:white;
box-shadow:var(--shadow);
}
[type='text']:focus, [type='password']:focus, [type='email']:focus{
box-shadow:inset var(--shadow);
}
form span{
display:flex;
flex-direction:column;
padding:10px;
}
form span *{
padding:10px;
}
label{
color:var(--primary);
}
[type='submit']{
background:var(--primary) !important;
width:auto;
border:none;
color:white;
cursor:pointer;
}
form>span:nth-last-child(1){
display:table;
padding:10px;
border-bottom:0px;
}
[type='submit']:focus{
box-shadow:var(--shadow);
}
[type='submit']:hover{
box-shadow:inset var(--shadow);
}
/*Landing page*/
.index-desc{
display:flex;
justify-content:center;
align-items:center;
height:calc(33.33% - 23.3666667px);
background:url('https://images5.alphacoders.com/587/thumb-1920-587597.jpg');
background-size: cover;
background-position: center;
}
.index-desc>span{
display:flex;
height:100%;
width:100%;
justify-content:center;
align-items:center;
color:white;
opacity:0.7;
background:black;
font-size:30px;
}
.features{
height:calc(66.66% - 46.7333334px - 41px);
display:flex;
justify-content:center;
align-items:center;
}
.feat{
display:flex;
flex-direction:column;
padding:20px;
background:white;
border:10px solid #eee;
border-right:none;
top:30px;
opacity:0;
}
.feat-title{
font-size:30px;
}
.feat-desc{
color:var(--tertiary);
}
.feat:nth-last-child(1){
border-right:10px solid #eee;
}
.continue{
position:fixed;
background:var(--primary);
width:40px;
height:40px;
bottom:10px;
left:calc(50% - 20px);
border-radius:100%;
box-shadow:var(--shadow);
cursor:pointer;
}
.be{
height:calc(33.33% - 23.3666667px);
background:var(--primary);
display:flex;
justify-content:center;
align-items:center;
color:white;
font-size:20px;
left:-100px;
opacity:0;
}
.start-i{
/*! bottom:100px; */
width:100%;
display:flex;
justify-content:center;
}
.start-i>a{
background:white;
color:var(--primary);
padding:10px;
padding-left:50px;
padding-right:50px;
font-weight:bold;
box-shadow:var(--shadow);
}
.start-i>a:hover{
background:white;
color:var(--primary);
box-shadow:none;
}
/*Page title-description*/
.page_header{
padding:10px;
background:white;
border-bottom:1px solid #eee;
}
.page_title{
font-size:30px;
}
.page_title>span{
font-size:25px;
border:1px solid #eee;
padding:5px;
display:inline-table
}
.page_desc{
color:var(--tertiary);
}
.page_options{
position:absolute;
top:5px;
right:0;
padding:10px;
}
.page_options>a{
background:var(--primary);
color:white;
padding:5px;
}
/*Room creation*/
.create_room_form form{
width:100%;
}
/*Rooms*/
.room{
padding:10px;
display:inline-table;
background:var(--primary);
width:calc(25%);
color:white;
border-right:2px solid #f2f2f2;
border-top: 2px solid #f2f2f2;
}
.room:nth-child(4n){
border-right:none;
}
.room:hover{
box-shadow:inset var(--shadow);
background:var(--tertiary)
}
.room-name{
font-size:20px;
}
.rc_info{
padding:10px;
}
.r_create{
padding:10px;
margin-bottom:-2px;
}
.r_create>a{
padding:10px;
display:table;
background:black;
}
.r_create>a:hover{
background:var(--primary);
color:white;
}
/*Admin link*/
.admin-link{
position:fixed;
bottom:10px;
right:10px;
}
.admin-link i{
background:var(--primary);
color:white;
padding:10px;
border-radius:100%;
}
/*Admin panel*/
.admin-nav{
display:flex;
box-shadow:4px 3px 6px rgba(0,0,0,0.16);
flex-direction:column;
background:var(--tertiary);
height: 100%;
z-index: 10;
}
.admin-nav>a{
padding:20px;
}
.admin-wrap{
display:flex;
flex-direction:row;
height: calc(100% - 71px);
}
.admin-nav>a:hover{
background:#2f2f2f;
}
.admin-content{
width:100%;
height: 100%;
}
.admin-user{
background:white;
border-bottom:1px solid #eee;
}
.admin-user>div{
display:inline-flex;
flex-direction:column;
padding:10px;
}
.user-level{
float:right;
}
.user-name{
width:200px;
}
.admin-users{
background:white;
margin:10px;
height:calc(100% - 100px);
box-shadow: var(--shadow);
overflow: auto;
}
.user-id{
width:10px;
}
.admin-cats{
overflow:auto;
width:100%;
height:calc(100% - 325px);
overflow:auto;
}
.a-cat{
display:inline-flex;
width:calc(25% - 4px);
height:100px;
background:orange;
justify-content:center;
align-items:center;
color:white;
flex-direction:column;
padding:10px;
cursor:pointer;
margin:2px;
box-shadow:var(--shadow);
clip-path:polygon(0 0, 0% 0%, 0% 0, 100% 0%, 100% 0, 100% 0%, 100% 0%, 100% 0%, 100% 100%, 100% 100%, 0% 100%, 0% 100%, 0 100%, 0% 100%, 0 0%, 0% 0%);
}
.a-cat:hover{
box-shadow:inset var(--shadow);
clip-path:polygon(0px 0px, 25% -30%, 50% -20%, 75% 5%, 100% 90%, 100% 50%, 75% 150%, 95% 75%, 100% 100%, 75% 130%, 50% 120%, 25% 95%, 0px 10%, 0% 50%, 25% -50%, 5% 25%);
background:linear-gradient(90deg, var(--primary) 0%, var(--primary) 35%, var(--primary) 100%) !important;
color:white;
}
/*Tabular*/
.tab-menu{
/*! background:#2f2f2f; */
margin:10px;
z-index:10;
margin-top: 0;
}
.tab-menu span{
display:inline-table;
padding:10px;
border-bottom:2px solid white;
top:2px;
cursor:pointer;
color: #2f2f2f;
}
.t-menu-active, .tab-menu>span:hover{
color:var(--primary) !important;
border-bottom:2px solid var(--primary) !important;
}
.tab-con{
background:white;
margin:10px;
top:-10px;
}
.tab-con>span{
position:absolute;
transform:scale(0);
background:white;
width:100%;
padding:10px;
}
.t-active{
top:0px !important;
transform:scale(1) !important;
}
.tab-con>span>.form_container{
padding:0;
margin:-10px;
padding:10px;
height: auto;
}
/*Email verification*/
.mail-v{
background:white;
border:1px solid #eee;
margin:10px;
padding:20px;
color:#2f2f2f;
}

/*Loader*/
.loader{
display:flex;
justify-content:center;
padding:30px;
background:white;
display:flex;
justify-content:center;
align-items:center;
height:calc(100% - 71px - 21px);
}
.loader>span{
position:relative;
display:table;
width:30px;
height:30px;
border:4px solid #f4f4f4;
border-top-color:var(--primary);
border-bottom-color:var(--primary);
border-radius:100%;
animation:1s linear infinite load;
transform:rotate(0deg);
top:0;
}
@keyframes load{
0%{
transform:rotate(0deg);
}
100%{
transform:rotate(360deg);
}
}
.loaded{
display:none;
top:-1000px;
}
/*Room*/
.r_header *:empty{
display:none;
}
.r_header{
background:white;
padding:10px;
border-bottom:1px solid #eee;
}
.r_title{
font-size:40px;
color:var(--primary);
}
.r_author{
font-size:20px;
padding-left:5px;
}
.game{
display:none;
justify-self:center;
align-self:center;
height:calc(100% - 71px - 72px);
}
.game-visible{
display:flex !important;
}
.game>div{
height:100%;
}
.game-left, .game-right{
width:20%;
background:white;
}
.game-content{
width:60%;

}
.game-right{
top:1px;
height:calc(100% - 1px) !important;
}
.game-users-h{
padding:10px;
box-shadow:var(--shadow);
margin-bottom:2px;
margin-top: px;
}
.game-player{
display:table;
padding:7px;
border-bottom:1px solid #eee;
width:100%;
}
.game-master{
font-weight:bold;
}
.game-master:after{
content:'game master';
background:orange;
color:white;
padding:5px;
vertical-align:middle;
font-weight:normal;
position:relative;
top:-1px;
left:1px;
border-radius:3%;
}
/*Room chat*/
.chat{
position:absolute;
bottom:0;
width:100%;
height:100%;
}
.chat-body{
height:calc(100% - 95px);
}
.chat-head{
box-shadow:var(--shadow);
background:white;
border-top:1px solid #eee;
padding:10px;
}
.chat-bar{
background:var(--primary);
padding:5px;
}
.chat-bar>form{
background:none;
}
.mini-loader{
display:table;
width:10px;
height:10px;
border:4px solid white;
border-left-color:var(--primary);
border-right-color:var(--primary);
border-radius:100%;
top:10px;
left:10px;
padding:5px;
transform:rotate(0deg);
animation:1s linear infinite load;
}
.chat-body{
overflow:auto;
}
.chat-message>div{
display:inline-table;
vertical-align:middle;
}
.chat-message{
border-bottom:2px solid #eee;
padding:10px;
display:table;
width:100%;
}
.chat-mess{
width:calc(75% - 10px);
}
.chat-uname{
background:var(--primary);
font-size:17px;
color:white;
float:right;
padding:5px;
right:-5px;
border-radius:1;
width:25%;
}
.room-full{
width:100%;
height:100%;
display:flex;
color:var(--primary);
justify-content:center;
align-items:center;
}
.room-full span{
margin:5px;
}
.room-full span:nth-child(1){
font-size:30px;
width:50%;
}
.room-start{
background:var(--primary);
padding:10px;
cursor:pointer;
border:2px solid var(--primary);
color:white;
}
.room-start:hover{
background:white;
color:var(--primary);
}
/*Room:choose*/
.choose-flex{
display:flex;
width:100%;
height:100%;
justify-content:center;
align-items:center;
top:100px;
}
.choose-submit{
margin-left:5px;
padding:10px;
cursor:pointer;
background:var(--primary);
color:white;
box-shadow:var(--shadow);
top:100px;
}
.choose-submit:hover{
box-shadow:inset var(--shadow);
}
.choice{
padding:10px;
cursor:pointer;
background:white;
border-right:1px solid #eee;
border-bottom:1px solid #eee;
}
.choice:hover{
color:var(--primary);
}
.choose-exp{
color:var(--primary);
padding:10px;
font-size:25px;
}
.choose-submit{
display:table !important;
}
.choosen{
color:var(--primary);
font-weight:bold;
}
.choose{
position:absolute;
top:-10000px;
}
.choose-s{
position:relative;
top:0px;
}